@page
@model on_sales.Pages.Customer.Cart.SummaryModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summary</title>
</head>
<body>
</body>
</html>
